ENDPOINT=your-aws-iot-endpoint-ats.iot.your-region.amazonaws.com
CLIENT_ID=twin-frontend-client
AWS_IOT_CERT_PATH=Certificates/twinmodel-certificate.pem.crt
AWS_IOT_KEY_PATH=Keys/twinmodel-private.pem.key
AWS_IOT_CA_PATH=CA/AmazonRootCA1.pem

SENSOR_DATA_TOPIC=sensor/data
CLOUD_VERDICT_TOPIC=cloud/verdict
