CLIENT_ID=SimulatedMachine01
ENDPOINT=your-aws-iot-endpoint-ats.iot.your-region.amazonaws.com
MACHINE_ID=machine01
AWS_IOT_CERT_PATH=Certificates/SimulatedMachine01-certificate.pem.crt
AWS_IOT_KEY_PATH=Keys/SimulatedMachine01-private.pem.key
AWS_IOT_CA_PATH=CA/AmazonRootCA1.pem

SENSOR_DATA_TOPIC=sensor/data
SIGNAL_TOPIC=machine/signal
ADVERTISING_LATENCY_MS=5000
STARTUP_WARMUP_SAMPLES=4
